<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="pbench" Manufacturer="chemodax"
           Version="1.0.0.0" UpgradeCode="152ffe72-d7f4-4def-a466-1ff822b9d5cb">

    <WixVariable Id="WixUILicenseRtf"
                 Value="LICENSE.rtf" />
    
    <ui:WixUI Id="WixUI_Minimal" />

    <MajorUpgrade AllowDowngrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <Feature Id="Main">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(pbench.TargetPath)" Id="pbench.exe" />
      </Component>

      <Component Directory="INSTALLFOLDER" Id="Path" Guid="{951D3C15-E18E-4E99-BF9B-269554DC60C7}">
        <Environment Id="PATH"
                     Name="PATH"
                     Value="[INSTALLFOLDER]"
                     Part="last"
                     Permanent="no"
                     Action="set"
                     System="yes" />
      </Component>
    </Feature>
  </Package>

</Wix>
